.first-column{
  background-image: url(../../img/bg-event.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.next-event{
  background-color: #73C5A5;
  border: none;
  font-size: 1.125em;
  font-weight: bold;
  padding: 10px;
}

.date{
  color: #fff;
  font-size: 2.5em;
}

.event-description{
  color: #fff;
  font-size: 1.5em;
}

span{
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
